$padding: 20px;
$labelColor: #8a8a8a;

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

header {
  background-color: #000000;
  color: #ffffff;
  line-height: 48px;
  padding-left: 10px;
  font-weight: bold;
}

.planner-form {

  padding-top: $padding;

  .row{

    padding-top: 10px;
    height: 60px;

    svg {
      float: left;
      width: 60px;
      height: 60px;
    }

    label {
      color: $labelColor;
      margin-left: 10px;
      font-size: small;
    }

    a {
      margin-left: 10px;
      text-decoration: none;
      font-size: 0.7em;
      color: $labelColor;
    }

    input {
      margin-left: 10px;
    }
  }

}

#route-display {

  g.station text{
    font-size: 0.9em;
  }

  g.station circle.station-stop{
    stroke: #000000;
    fill: white;
    stroke-width: 4;
  }

  g.station[data-type="middle"] text{
    fill: #afafaf;
  }


  g.station[data-type="boundary"] text{

  }

  g.station[data-type="change"] text{

  }

  .change-icon{
    fill: #afafaf;
    font-size: 1.1em !important;
  }

  .cancel-link{
    fill: #000000;
    font-size: 2em !important;
    cursor: pointer;
  }
}

.typeahead,
.tt-query,
.tt-hint {
  width: 180px;
  height: 22px;
  padding: 2px 3px;
  font-size: 14px;
  line-height: 18px;
  border: none;
  outline: none;
}

#to-station{
  height: 30px;
  padding-bottom: 8px;
  border-bottom: 2px solid #000000;
}

.typeahead {
  background-color: #fff;

  &:focus {
    height: 30px;
    padding-bottom: 8px;
    border-bottom: 2px solid #000000;
  }
}

.tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 180px;
  margin-top: 6px;
  padding: 2px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 10px;
  font-size: 16px;
  line-height: 22px;

  &.tt-cursor {
    color: #fff;
    background-color: #e4e9ed;
  }

  p {
    margin: 0;
  }
}



