$padding: 20px;
$labelColor: #8a8a8a;

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


*{
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

header {
  background-color: #000000;
  color: #ffffff;
  line-height: 48px;
  padding-left: 10px;
  font-weight: bold;
}

.planner-form {

  padding-left: $padding;
  padding-top: $padding;

  .row{

    padding-top: 10px;
    height: 60px;

    svg {
      float: left;
      width: 60px;
      height: 60px;
    }

    label {
      color: $labelColor;
      margin-left: 10px;
    }

    a {
      margin-left: 10px;
      text-decoration: none;
      font-size: small;
      color: $labelColor;
    }

    input {
      margin-left: 10px;
      min-width: 200px;
    }
  }

}

#route-display {
  padding-left: $padding;
}

#change-journey {
  margin-left: $padding;
  text-decoration: none;
  font-size: small;
  color: $labelColor;
}
